<% include partials/header %>

	<div class="jumbotron centered text-center" style="padding-bottom: 20%">
      <div class="container">
	  <h1>Movie Not Found</h1>
		  <form action="/">
<button type="submit" id="zoom" class="btn btn-lrg">Search Again</button>	
</form>

  </div>
    </div>
</div>
<% include partials/footer %>